* {
    padding: 0px;
    margin: 0px;
}

.bodyContent {
    display: flex;
    flex-direction: column;
    min-height: 83%;
}

/*header*/
.header {
    display: flex;
    min-height: 50px;
    width: 100%;
    background-color: #3b5998;
}

.nameOfSocialNetwork {
    width: 45%;
    margin: auto 10px;
}

.localization {
    width: 10%;
    text-align: center;
}

.userInfHeader {
    text-align: right;
    margin: auto 10px;
    width: 30%;
}

.navigationPanel {
    width: 15%;
    text-align: center;
    margin: auto 10px;
}

/*----------------------*/

/*content*/
.myContainer {
    display: flex;
    min-height: 92%;

}

.leftMenu {
    margin-top: 60px;
    padding-right: 25px;
    width: 20%;
    position: fixed;
    flex-direction: column;
    text-align: right;
}

.buttonOnLeftMenu {
    margin-bottom: 15px;
}

.body {
    width: 60%;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding-top: 30px;
    min-height: 83%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    /*background-color: aqua;*/
}

.advertising {
    width: 20%;
    /*background-color: #258b18;*/
}

.footer {
    height: 50px;
    background-color: #3a57af;
    margin-top: 10px;
}

/*-------------------------------*/
.userInformationInMyPage {
    background-color: #2e458b;
    display: flex;
    flex-wrap: wrap;
    /*border-bottom: 1px solid lightgray;*/
}

.userInfo {
    margin-left: 25px;
    margin-right: 25px;


    background-color: #91D98A;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.headLinePersonalInf {
    width: 100%;
    height: 70px;
    background-color: #bbbbbb;
    padding-left: 5px;
    border-bottom: 1px solid darkgrey;

}

.newLinePersonalInf {
    display: flex;
    margin-top: 10px;
}

.lineName {
    padding-left: 5px;
    margin-right: 20px;
}

.usersAvatar {
    width: 300px;
    margin-left: 25px;
    background-color: #222222;
}

.grayLine {
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid darkgrey;
}

.userWall {
    min-height: 300px;
    background-color: #333333;
}



/*----------Friend------------------*/
.friend{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid darkgrey;
}
.friendAvatar{
    width: 90px;
    height: 90px;
    background-color: #bbbbbb;
}
/*.content {*/
/*!*background-color: #9da537;*!*/
/*display: flex;*/
/*flex-direction: column;*/
/*flex-wrap: wrap;*/
/*}*/

.header_ul {
    margin: 0px;
}

.logOutUser {

}

.updateUser, loginForm {
    display: flex;
    flex-wrap: wrap;
}

.newLine {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    /*flex-direction: column;*/
}

.signature {
    margin: auto 0px;
    text-align: center;
    width: 100px;
}

.inputData {
    width: 300px;
}

.exception {
    font-size: 12px;
    color: darkred;
    text-align: center;
    /*width: 100%;*/
}

.filtr {
    display: flex;
    justify-content: flex-end;
}


/*---------------------для галереї*/
body {
    padding: 2px 0 0 2px;
}

.gallery img {
    float: left;
    padding: 0 2px 2px 0;
    /* Yes, you *can* adjust/remove padding. */
}


















/*.whiteMessage{*/
/*background-color: whitesmoke;*/
/*}*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
* {
    padding: 0;
    margin: 0;
    /*border: 0;*/
    /*color: #888;*/
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.padding {
    padding: 20px;
}

.clearfix {
    display: table;
    overflow: hidden;
}

.clearfix:before {
    content: " ";
    display: block;
}

.font-size-small {
    font-size: 0.65em;
}

.chat-wrapper {
    min-width: 400px;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-content {
    background-color: #fff;
}

.chat-wrapper .chat-image {
    float: left;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.chat-wrapper .chat-image.chat-image-default {
    width: 60px;
    height: 60px;
}

.chat-wrapper .chat-message {
    margin-bottom: 20px;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper .chat-message:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message:last-of-type {
    margin-bottom: 0;
}

.chat-wrapper .chat-message .chat-message-wrapper {
    max-width: 70%;
    display: table;
    margin: 0 20px;
    padding-top: 10px;
    position: relative;
}

.chat-wrapper .chat-message .chat-message-wrapper:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    top: 20px;
    position: absolute;
    z-index: 2;
}

.chat-wrapper .chat-message .chat-message-wrapper p {
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid;
}

.chat-wrapper .chat-message .chat-message-wrapper p:first-of-type {
    border-top: 0 !important;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
    float: left;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper:before {
    left: -20px;
    border-right-color: #91D98A;
}

.chat-wrapper .chat-message.chat-message-recipient p {
    background-color: #91D98A;
    border-top-color: #7dc576;
}

.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-sender .chat-message-content {
    float: right;
}

.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper:before {
    right: -20px;
    border-left-color: #8AC0D9;
}

.chat-wrapper .chat-message.chat-message-sender p {
    background: #8AC0D9;
    border-top-color: #76acc5;
}

.chat-wrapper .chat-message.chat-message-sender img {
    float: right;
}

.chat-wrapper .chat-message .chat-message-content {
    display: table;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.chat-wrapper .chat-message .chat-message-content:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message .chat-details {
    clear: both;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper .chat-message .chat-details:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message .chat-details span {
    margin-right: 4px;
    color: #bbb;
}
