* {
    padding: 0px;
    margin: 0px;
}

.bodyContent{
    display: flex;
    flex-direction: column;
    min-height: 83%;
}
/*header*/
.header {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #3b5998;
}
.nameOfSocialNetwork{
    width: 34%;
    margin: auto 10px;
}
.userInfHeader{
    text-align: right;
    margin: auto 10px;
    width: 50%;
}
.navigationPanel{
    width: 16%;
    text-align: center;
    margin: auto 10px;
}
/*----------------------*/

/*content*/
.myContainer{
    display: flex;
    min-height: 92%;
}

.leftMenu {
    width: 25%;
    position: fixed;
    /*background-color: #8b5320;*/
}

.body {
    width: 50%;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    min-height: 83%;
    margin-left: 25%;
    /*background-color: aqua;*/
}

.advertising {
    width: 25%;
    /*background-color: #258b18;*/
}

.footer {
    height: 50px;
    background-color: #3a57af;
    margin-top: 10px;
}



/*.content {*/
    /*!*background-color: #9da537;*!*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
/*}*/

.header_ul {
    margin: 0px;
}

.logOutUser {

}



.updateUser, loginForm {
    display: flex;
    flex-wrap: wrap;
}

.newLine {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    /*flex-direction: column;*/
}

.signature {
    margin: auto 0px;
    text-align: center;
    width: 100px;
}

.inputData {
    width: 300px;
}

.exception {
    font-size: 12px;
    color: darkred;
    text-align: center;
    /*width: 100%;*/
}

/*.whiteMessage{*/
/*background-color: whitesmoke;*/
/*}*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
* {
    padding: 0;
    margin: 0;
    /*border: 0;*/
    /*color: #888;*/
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.padding {
    padding: 20px;
}

.clearfix {
    display: table;
    overflow: hidden;
}

.clearfix:before {
    content: " ";
    display: block;
}

.font-size-small {
    font-size: 0.65em;
}

.chat-wrapper {
    min-width: 400px;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-content {
    background-color: #fff;
}

.chat-wrapper .chat-image {
    float: left;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.chat-wrapper .chat-image.chat-image-default {
    width: 60px;
    height: 60px;
}

.chat-wrapper .chat-message {
    margin-bottom: 20px;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper .chat-message:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message:last-of-type {
    margin-bottom: 0;
}

.chat-wrapper .chat-message .chat-message-wrapper {
    max-width: 70%;
    display: table;
    margin: 0 20px;
    padding-top: 10px;
    position: relative;
}

.chat-wrapper .chat-message .chat-message-wrapper:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    top: 20px;
    position: absolute;
    z-index: 2;
}

.chat-wrapper .chat-message .chat-message-wrapper p {
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid;
}

.chat-wrapper .chat-message .chat-message-wrapper p:first-of-type {
    border-top: 0 !important;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
    float: left;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper:before {
    left: -20px;
    border-right-color: #91D98A;
}

.chat-wrapper .chat-message.chat-message-recipient p {
    background-color: #91D98A;
    border-top-color: #7dc576;
}

.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-sender .chat-message-content {
    float: right;
}

.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper:before {
    right: -20px;
    border-left-color: #8AC0D9;
}

.chat-wrapper .chat-message.chat-message-sender p {
    background: #8AC0D9;
    border-top-color: #76acc5;
}

.chat-wrapper .chat-message.chat-message-sender img {
    float: right;
}

.chat-wrapper .chat-message .chat-message-content {
    display: table;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.chat-wrapper .chat-message .chat-message-content:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message .chat-details {
    clear: both;
    width: 100%;
    display: table;
    overflow: hidden;
}

.chat-wrapper .chat-message .chat-details:before {
    content: " ";
    display: block;
}

.chat-wrapper .chat-message .chat-details span {
    margin-right: 4px;
    color: #bbb;
}
